@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap");
@import url("https://glitchpop-css.herokuapp.com/library/styles.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.sideNav {
  background-color: #1c1427;
  grid-area: sideNav;
  transition: 0s;
  max-width: 250px;
  padding-left: 1rem;
  position: absolute;
  /* top: 0; */
  left: -100%;
  z-index: 1;
}
.main {
  width: 80vw;
  grid-area: main;
  /* box-shadow: -5px 0 5px -5px #333; */
}
.nav {
  grid-area: nav;
}

.grid-template {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "sideNav main main"
    "sideNav main main";
}
.sideNav-items {
  height: 100vh;
}
.sideNav-item {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-left: 1rem;
}
.sideNav-item > a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.sideNav-item > a:hover {
  color: #e84545;
}
.hamMenu {
  display: none;
}

.sideNav.active {
  transition: 0.75s;
  left: 0;
  top: 0;
  height: 100%;
  width: 220px;
}
.hamMenu {
  display: block;
  width: 40px;
  margin: 0 auto;
}

.fa-bars,
.fa-times {
  color: #e84545;
  font-size: 2rem;
  margin: 2rem 0;
}
.fa-bars:hover,
.fa-times:hover {
  color: white;
}
.nav-logo {
  font-size: 2rem;
  font-family: "Staatliches", cursive;
  color: #e84545;
  text-decoration: none;
}
.home {
  margin: 2rem;
}
.home > h1,
.home > h1 > span {
  font-size: 4rem;
  font-family: "Staatliches", cursive;
}
.home > h1 > span {
  color: #e84545;
}
.home > p {
  margin: 1.5rem 0;
  font-size: 2rem;
}
.home > a > button {
  padding: 1rem 2rem;
  margin: 0 2rem 2rem 0;
  background-color: #1c1427;
  color: white;
  font-size: 1.5rem;
  border: solid 1px #1c1427;
}
.home > a > button:hover {
  background-color: white;
  color: #1c1427;
}

/* text utilities */
.text-utilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.uti{
  border:solid 1px rgb(190, 187, 187);
  padding: 1rem;
  margin : 0.5rem ;
}
.header {
  font-size: 3rem;
  font-family: "Staatliches", cursive;
  text-align: center;
}
.nav-social {
  color: aliceblue;
}
.fa:hover {
  color: #fbbf24;
}

.logo {position: relative;
  top: 10px;
  margin-right: 1rem;
  width: 50px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@media screen and (max-width: 770px) {
  .nav-item {
    font-size: 0.5rem;
    padding: 1rem 0.75rem;
  }
  .nav-item:nth-child(2n) {
    display: none;
  }
  .hor-list-item:nth-child(2n) {
    display: none;
  }
  .text-utilities {
    width: 200px;
  }
}
